@(active: String)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">@controllers.AppConstants.BACKEND_NAME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      @if(ac.authorizedOpt.isDefined) {
        @base.common.menuItem(active, "stats", sside.routes.AdminController.adminStats())
        @base.common.menuItem(active, "options", sside.routes.AdminController.adminOptions())
        @base.common.menuItem(active, "posts", sside.routes.AdminController.adminPosts(1))
        @base.common.menuItem(active, "accounts", sside.routes.AdminController.adminAccounts(1))
        @base.common.menuItem(active, "logout", sside.routes.AccountsController.logout())        
      } else {
        @base.common.menuItem(active, "login", sside.routes.AccountsController.login())
      }
    </ul>
  </div>
</nav>