@(active: String)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">@controllers.AppConstants.BACKEND_NAME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      @if(ac.authorizedOpt.isDefined) {
        @if(ac.authorizedOpt.get.isAdmin) {
          @base.common.menuItem(active, "stats",      routes.AdminController.stats)
          @base.common.menuItem(active, "options",    routes.OptionsController.options)
          @base.common.menuItem(active, "posts",      routes.PostsController.adminPosts(1))
          @base.common.menuItem(active, "moderation", routes.PostsController.adminModerationPosts(1))
          @base.common.menuItem(active, "charge",     routes.BalancesController.adminCharge)
          @base.common.menuItem(active, "accounts",   routes.AccountsController.adminAccounts(1, None))
        }
        @base.common.menuItem(active, "logout",   routes.AccountsController.logout)        
      } else {
        @base.common.menuItem(active, "login",    routes.AccountsController.login)
      }
    </ul>
  </div>
</nav>
