@(active: String)(implicit ac: controllers.AppContext)
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">@controllers.AppConstants.APP_NAME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      @base.common.menuItem(active, "status",  routes.AppController.status())
      @base.common.menuItem(active, "balance", routes.BalancesController.balances(1))
      @base.common.menuItem(active, "app",     routes.PostsController.posts(1))
    </ul>
  </div>
</nav>
