@(active: String)(implicit ac: controllers.AppContext)
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light bs-navbar-top">
  <div class="container">
    <a class="navbar-brand" href="#">
     <img src="/assets/images/logo.png" alt="@controllers.AppConstants.APP_NAME" width="36" height="36"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        @base.common.menuItem(active, models.PostsFilter.NEW, sside.routes.PostsController.posts(1))
        @base.common.menuItem(active, models.PostsFilter.TRENDING, sside.routes.PostsController.postsByFilter(1, models.PostsFilter.TRENDING))
        @base.common.menuItem(active, models.PostsFilter.HOT, sside.routes.PostsController.postsByFilter(1, models.PostsFilter.HOT))
        @base.common.menuItem(active, models.PostsFilter.PROMOUTED, sside.routes.PostsController.postsByFilter(1, models.PostsFilter.PROMOUTED))
      </ul>
      @headerSearch()
      <ul class="navbar-nav ml-auto">
        @if(ac.authorizedOpt.isDefined) {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="ibs-register-submenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="@ac.authorizedOpt.flatMap(_.avatar).getOrElse("/assets/images/avatar.png")" class="rounded-circle" alt="avatar" width="36" height="36">
            </a>
            <div class="dropdown-menu" aria-labelledby="ibs-register-submenu">
              <a class="dropdown-item" href="@sside.routes.AccountsController.registerUser()">User</a>
              <a class="dropdown-item" href="@sside.routes.AccountsController.registerCompany()">Company</a>
            </div>
          </li>        
        }
        @if(ac.authorizedOpt.isEmpty) {         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="ibs-register-submenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-plus"></i>
              <span>sign up</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="ibs-register-submenu">
              <a class="dropdown-item" href="@sside.routes.AccountsController.registerUser()">User</a>
              <a class="dropdown-item" href="@sside.routes.AccountsController.registerCompany()">Company</a>
            </div>
          </li>
          @base.common.menuItem(active, "login", sside.routes.AccountsController.login(), Some("sign-in-alt"))
        }
      </ul>
    </div>
  </div>
</nav>