@(inForm: Form[_], call: Call, name: String)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.main(name) { 
  <link href="@routes.Assets.versioned("stylesheets/bootstrap-markdown-editor/bootstrap-markdown.min.css")" rel="stylesheet" media="screen">	
} {
  @base.common.components.container() {

    <h2>Create post</h2>
  
  	@b4.form(call) {
	  @b4.text( inForm("title"), '_label -> "Название" )
	  <div class="form-group   " id="content_field">
        <label for="content">Содержание</label>
        <textarea id="content" data-toggle="markdown" name="content" minlength="500" rows="20" required="true" class="form-control">@inForm("content").value</textarea>
      </div>	  
	  @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ Опубликовать }   
  	}
      
  }
} { 
  <script src="@routes.Assets.versioned("javascripts/bootstrap-markdown-editor/markdown.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/bootstrap-markdown-editor/to-markdown.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/bootstrap-markdown-editor/bootstrap-markdown.js")" type="text/javascript"></script>
  <script>$('[data-toggle="markdown"]').markdown({iconlibrary: 'fa'});</script>
}