@(inForm: Form[_])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.commonAuthRegPage("approve") {

  <h2>Step 3/3</h2>
  <h4 class="mb-4 mt-4">Email was successfully verified!</h4>
  <p>Choose your password. Make sure you do not forget it.</p>
  <p class="mb-5"><strong>@controllers.AppConstants.APP_NAME cannot recover passwords!</strong></p>
  
  @b4.form(sside.routes.AccountsController.processApproveRegister) {
    @b4.hidden( inForm("code") )
    @b4.text( inForm("login"), '_label -> "Username", 'readonly -> true )
    @b4.text( inForm("pwd"), '_label -> "Generated password" )
    @b4.text( inForm("repwd"), '_label -> "Re-enter generated password" )
    @b4.checkbox( inForm("understandNotRecover"), '_text -> "I understand that ".+(controllers.AppConstants.APP_NAME).+(" cannot recover lost password"), 'checked -> false )
    @b4.checkbox( inForm("haveSecured"), '_text -> "I have securely saved my generated password", 'checked -> false )
    @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ Submit }   
  }
      
}