@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@app.common.main("index") { } {
  @base.common.components.container() {    
   
<div class="row posts-widget">
<div class="container">
<h4 class="mt-2 mb-1">Последние</h4>
<hr class="widget-div">
<div class="row" id="top-feed">
</div>
</div>
</div>


<div class="row posts-widget">
<div class="container">
<h4 class="mt-2 mb-1">Свежие</h4>
<hr class="widget-div">
<div class="row" id="center-feed">
</div>
</div>
</div>


<div class="row posts-widget">
<div class="container">
<h4 class="mt-2 mb-1">Лента</h4>
<hr class="widget-div">
<div class="row" id="after-center-feed">
</div>
</div>
</div>


  
          
  }
} {



@helper.javascriptRouter("jsRoutes")(
  sside.routes.javascript.PostsController.findPostsByCategory
)

<script type="text/javascript">
  $(document).ready(function(){

	function updateLineWidget(callabck) {  
	  jsRoutes.controllers.sside.PostsController.findPostsByCategory().ajax({
	    data: JSON.stringify({page_id: 1, pattern_id: 1, page_size: 4}),
	    contentType: 'text/json'
	  }).done(data => {
	    $('#top-feed').append(data);
	    callabck();
      }).fail(data => {
        alert(data.responseText);
      });
	}

	function updateBigThumbWithVericalWidget(callabck) {
	  jsRoutes.controllers.sside.PostsController.findPostsByCategory().ajax({
        data: JSON.stringify({page_id: 1, pattern_id: 2, page_size: 5}),
        contentType: 'text/json'
	  }).done(data => {
        $('#center-feed').append(data);	  
        callabck();
	  }).fail(data => {
	    alert(data.responseText);
	  });
	}

	function updateListWidget(callabck) {
      jsRoutes.controllers.sside.PostsController.findPostsByCategory().ajax({
        data: JSON.stringify({page_id: 1, pattern_id: 3, page_size: 8}),
	    contentType: 'text/json'
	  }).done(data => {
        $('#after-center-feed').append(data);
        callabck();	  
	  }).fail(data => {
	    alert(data.responseText);
	  });
	}

    updateLineWidget(function() {
	  updateBigThumbWithVericalWidget(function() {
		updateListWidget(function() {
		  $('.posts-widget').fadeIn(500);
		})
	  })
    })

	
           
  })
</script>

}