@(inForm: Form[_])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.commonAuthRegPage("login") {

  <h2 class="mb-4">Login</h2>
  <p class="mb-5">Join our amazing community to comment and reward others..</p>
  
  @b4.form(sside.routes.AccountsController.processLogin) {
    @b4.text( inForm("email"), '_label -> "Username" )
    @b4.text( inForm("pass"), '_label -> "Password" )
    @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ Sign in }   
  }
      
  <p class="text-secondary mt-5">
    Do not have account yet? Sign up as <a href="@sside.routes.AccountsController.registerUser()">user</a> or as 
     <a href="@sside.routes.AccountsController.registerUser()">company!</a>  
  </p>
  
}