@(inForm: Form[_])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.commonAuthRegPage("sign up") {

  <h2>Step 1/3</h2>
  <h4 class="mb-4 mt-4">Get started as company</h4>
  <p>Start with a login. Your login is how you'll be known on @controllers.AppConstants.APP_NAME .</p>
  <p class="mb-5">Next we need to know how to contact you. Your email will be used for further registration steps.</p>
  
  @b4.form(sside.routes.AccountsController.registerProcessCompany) {
    @b4.text( inForm("login"), '_label -> "Username" )
    @b4.text( inForm("email"), '_label -> "Email" )
    @b4.text( inForm("companyName"), '_label -> "Company name" )
    @b4.text( inForm("ITN"), '_label -> "ITN" )
    @b4.text( inForm("IEC"), '_label -> "IEC" )
    @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ Sign up }   
  }
      
  <p class="text-secondary mt-5">Do you already have an account? <a href="@sside.routes.AccountsController.login()">Sign in</a></p>
  <p class="text-secondary">Do want register as user? <a href="@sside.routes.AccountsController.registerUser()">Sign up</a></p>
  
}