@(post: models.Post, reviews: Seq[models.Post])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)
@app.common.main("post") { } {
  @base.common.components.container() {
    <div class="bs-post-view-container">
      <h1 class="bs-post-view-header">@post.title</h1>
      <div class="bs-post-view-top-panel">
        <img src="@post.ownerOpt.flatMap(_.avatar).getOrElse("/assets/images/avatar.png")" class="rounded-circle" alt="avatar" width="48" height="48">
        <span style="font-weight: 600; margin-left: 10px;"><a href="@sside.routes.AccountsController.blog(post.ownerOpt.map(_.id).getOrElse(0),1)">@post.ownerOpt.map(_.displayName).getOrElse("")</a></span>
        <span style="margin-left: 5px; color: #788187; font-weight: 600;">@post.createdPrettyTime</span>         
      </div>
      @app.common.rowHR()
      <div class="bs-post-view-content">
	  @Html(post.renderFromMarkdownToHTML)
	  </div>
      @app.common.rowHR()	  
	  @app.common.postsList(reviews)      
    </div>
  }
} { }